/* Put your CSS here */
.ember-application {
    margin: 20px;
}
.title {
	height: 32px;
	background-color: #000;
	margin-top: -38px;
	opacity: 0.8;
	color: #FFFFFF;
	text-align: center;
	padding-top: 8px;
}
.page-title {
	margin: 2em 0 0.5em 0;
	text-align: center;
	color: #808080;
	font-size: 2em;
}

.course-title {
	font-size: 2em;
	color: #808080;
	text-align: left;
	margin-top: -0.5em;
}

.new-playlist-title {
	font-size: 1.5em;
	color: #808080;
	text-align: left;
}

.module-title {
	font-size: 1.2em;
	color: #808080;
	text-align: left;
	margin-top: -0.5em;
}

.small-font {
	font-size: 0.8em;
}

.border-outset{
	border-style: outset; 
	border-width: 5px; 
	border-radius: 0.5em; 
	padding: 0em 1em 0em 1em; 
	margin-bottom: 5px;"
}

.image {
	vertical-align: top;
}

.green {
	color: green;
}

.gray {
	color: #808080;
}

.align-right {
	text-align: right;
}

.input-title {
	width: 285px;
	margin-left: 5px;
}

.input-modules {
	width: 255px;
	margin-left: 5px;
	height: 20px;
}

.course-index {
	width: 290px; 
	height: 250px; 
	vertical-align: baseline; 
	margin: 0 20px 0px 0; 
	display: inline-block;
}